<footer>
    
    <div class="izq">

        <p><strong>Horario: </strong>L-V de 9:00 a 17:00 horas</p>
        <p><strong>Dirección: </strong>C/ de la ropa BBB Nº 35</p>
        <p><strong>Email: </strong>kiabiNuevo@ropa.com</p>

    </div>

    <div class="der">

        <p>Siguenos en nuestras redes sociales:</p>

        <div class="redes">
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
        </div>

    </div>

</footer>