{% extends "layout.twig" %}

{% block cuerpo %}


<div class="error">
    <h1>Oh Oh...</h1>

    <div>
        <p>Esta no es la página que buscabas,</p>
        <p>a mi me da exactamente igual, pero mejor intentalo más tarde</p>
    </div>
    
    <h2>FEO</h2>
</div>


{% endblock %}